<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img class="navImage" src="/imagenes/logoCard.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/api/users/login">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/users/login/current">Administrador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/users">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/carts/{{user.cartId}}"><img class="navImage2" src="/imagenes/cartIcon.png" alt=""></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-ticket">

    <h1>Ticket de compra</h1>
        <p><strong>Código del ticket:</strong> {{purchaseResult.code}}</p>
        <p><strong>Fecha:</strong> {{purchaseResult.purcharse_datetime}}</p>
        <p><strong>Comprador:</strong> {{purchaseResult.purchaser}}</p>
        <p><strong>Total de la compra:</strong> ${{purchaseResult.amount}}</p>
</div>