    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Picture -->
                <img src="{{user.profile_picture}}" alt="Profile Picture" class="profile-picture">
            </div>
            <div class="col-md-9">
                <!-- User Info -->
                <h1>{{user.first_name}} {{user.last_name}}</h1>
                <p>Email: {{user.email}}</p>
                <p>Role: {{user.role}}</p>
                <!-- Add any other user information here -->
            </div>
        </div>
    </div>